.grid {
    margin: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "section . aside"
    "footer footer footer";
    text-align: center;
    color: white;
    font-size: 1.5rem;
    grid-gap: 20px;
}

.grid > div {
    background-color: black;
    height: 100px;
    align-content: center;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main
}

.section {
    grid-area: section
}

.aside {
    grid-area: aside
}

.footer {
    grid-area: footer
}

